.wrapper {
    display: grid;
    grid-template-columns: auto 230px minmax(320px, 1200px) auto;
    grid-template-rows: auto 1fr auto;

    min-height: 100vh;
    gap: 40px 30px;
    grid-template-areas:
		". header header ."
		". sidebar body ."
		"footer footer footer footer";
}

.header {
    grid-area: header;
}

.sidebar {
    grid-area: sidebar;
}

.body {
    opacity: 0;
    animation: ani 3s forwards;
    grid-area: body;
}
@keyframes ani {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

.footer {
    grid-area: footer;
}